.auth {
  background-color: #f8f8f8 !important;
  padding: 6vh 6vw;
  border-radius: 15px;
  text-align: center;
  margin-top: 5vh;
}

.background-video {
  width: 100vw !important;
  height: 90vh !important;
}

.input-auth {
  border-radius: 25px !important;
  width: 300px !important;
}

@media (max-width: 800px) {
  .auth {
    width: 80vw !important;
  }
}
