.uk-card,
.uk-panel {
  width: 38vw !important;
  background-color: #f8f8f8 !important;
  border: 1px solid #e5e5e5;
}

textarea {
  width: 35vw !important;
}

.uk-panel-scrollable {
  height: 62vh !important;
}

.usr {
  width: 55px;
  height: 55px;
  margin: 0 20px;
}

@media (max-width: 800px) {
  .cont {
    display: flex !important;
    flex-direction: column !important;
  }

  .mapa {
    width: 96vw !important;
    height: 62vh !important;
  }

  .uk-card,
  .uk-panel {
    width: 96vw !important;
  }

  textarea {
    width: 90vw !important;
  }

  .comment {
    width: 65vw !important;
  }

  .uk-button-text {
    text-decoration: underline !important;
  }

  .size {
    font-size: 1rem;
  }
}
