.uk-card {
  width: 40vw !important;
  background-color: #f8f8f8 !important;
}

.height-small {
  height: 7vh !important;
}

textarea {
  width: 35vw !important;
}

.uk-panel-scrollable {
  height: 65vh !important;
}
