.uk-navbar-container,
.hamburger {
  height: 10vh;
  background-color: #f8f8f8 !important;
}

.uk-offcanvas-bar {
  background-color: darkgray !important;
  text-align: center;
}

.logo {
  width: 25%;
  height: 75%;
}

.letras {
  width: 55%;
  height: 100%;
  margin-left: 10px;
}

@media (max-width: 800px) {
  .mar {
    margin-left: 20vw;
  }

  .logo,
  .hamburger {
    width: 70%;
    height: 60%;
  }

  .letras {
    width: 100%;
    height: 100%;
  }

  .disp {
    display: none;
  }
}
