.uk-navbar-container,
.hamburger,
.logout,
.plus {
  height: 10vh;
  background-color: #f8f8f8 !important;
}

.uk-offcanvas-bar {
  background-color: darkgray !important;
  text-align: center;
}

.logo {
  width: 40%;
}

.letras {
  width: 55%;
  margin-left: 10px;
}

.main {
  position: absolute;
  margin-left: 40vw;
}

.parr {
  width: 60px;
}

@media (max-width: 800px) {
  .logo {
    width: 20%;
  }

  .letras {
    width: 50%;
  }

  .hamburger,
  .logout,
  .plus {
    width: 6%;
    padding: 0 !important;
  }

  .disp {
    display: none;
  }

  .main {
    margin-left: 27vw;
  }
}
