.uk-navbar-container,
.hamburger {
  height: 10vh;
  background-color: #f8f8f8 !important;
}

.uk-offcanvas-bar {
  background-color: darkgray !important;
  text-align: center;
}

.logo {
  width: 9%;
  height: 75%;
  margin-top: 1.5vh;
}

.letras {
  width: 17%;
  height: 55%;
  margin-top: 2.5vh;
  margin-left: 0.5vw;
}
.btn {
  border-radius: 50px;
  background-color: #b0be78 !important;
  width: 100%;
}

.text {
  color: #668074 !important;
}

.auth {
  background-color: #f8f8f8 !important;
  padding: 8vh;
  border-radius: 50px;
}

input {
  border-radius: 50px !important;
}

p {
  margin-top: -10vh;
}

@media (max-width: 800px) {
  .logo {
    width: 20%;
    height: 60%;
    margin-top: 2.5vh;
  }

  .letras {
    width: 40%;
    height: 45%;
    margin-top: 3.5vh;
    margin-left: 1vw;
  }
}
